html {
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #007aff;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background-color: #007aff;
}

.question-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	border-top: 1px solid rgba(0 0 0/40%);
}

.quiz-card {
	width: 30rem;
}

.quiz-answer-card {
	transition: all 75ms ease-in-out 25ms;
}

.quiz-answer-card:hover {
	cursor: pointer;
	background-color: rgba(0 0 0/5%);
}

.bg-success,
.bg-danger {
	color: white;
}

.text-center {
	text-align: center;
}

.button-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 16px;
}

.cursor-disabled {
	pointer-events: none;
}
